.App {
  margin: 0% 5% 0% 5%;
  text-align: center;
}

.navWrapper {
  margin-bottom: 2%;
}

.filterWrapper {
  margin: 2% 0% 2% 0%;
}

.headerText {
  color: #F5A9BC;
  font-size: 3em;
  margin: 0% 2% 0% 2%;
}

.largeHeader {
  font-size: 3.5em;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.smallHeader {
  font-size: 1.75em;
  font-weight: bold;
  color: rgb(255, 245, 245);
}

.normalText {
  font-family: Georgia, serif;
  font-size: .75em;
}



ul {
  list-style-type: none;
  list-style: none;
}

.normalText ul {
  font-family: Georgia, serif;
  font-size: .75em;
  text-align: left;
}

.subtleText {
  color: #D1D1D1;
  font-size: .75em; 
}


.indexWrapper {
  margin: auto;
}







.footer {
  padding: 1%;
  clear: both;
}



